<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron" style="background-color: #eeeeee ;">
    <h1>Sudoku Solver</h1>
    <p>Here is the solved sudoku</p>
    <p><img src="<%= data %>" alt="Solved Sudoku" height="600px" width="600px"></p>
  </div>
</main>

</body>

</html>