<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron container-fluid"  style="background-color: #eeeeee ;">
      <h1>Welcome to Sudoku Solver.</h1>
      <h3>This is amazing, try it</h3>
      <p>Please upload an image and we'll detect the unsolved sudoku and solve it for you</p>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="upload">
        <br>
        <br>
        <input type="submit" value="Upload">
      </form>

    </div>
  </main>

</body>

</html>